<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rOUTAGE">
            <h2><span jhiTranslate="appApp.rOUTAGE.detail.title">ROUTAGE</span> {{ rOUTAGE.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appApp.rOUTAGE.drName">Dr Name</span></dt>
                <dd>
                    <span>{{ rOUTAGE.drName }}</span>
                </dd>
                <dt><span jhiTranslate="appApp.rOUTAGE.rename">Rename</span></dt>
                <dd>
                    <span>{{ rOUTAGE.rename }}</span>
                </dd>
                <dt><span jhiTranslate="appApp.rOUTAGE.maskFile">Mask File</span></dt>
                <dd>
                    <span>{{ rOUTAGE.maskFile }}</span>
                </dd>
                <dt><span jhiTranslate="appApp.rOUTAGE.directory">Directory</span></dt>
                <dd>
                    <span>{{ rOUTAGE.directory }}</span>
                </dd>
                <dt><span jhiTranslate="appApp.rOUTAGE.handlingtype">Handlingtype</span></dt>
                <dd>
                    <span>{{ rOUTAGE.handlingtype }}</span>
                </dd>
                <dt><span jhiTranslate="appApp.rOUTAGE.demiflux">Demiflux</span></dt>
                <dd>
                    <div *ngIf="rOUTAGE.demiflux">
                        <a [routerLink]="['/demi-flux', rOUTAGE.demiflux?.id, 'view']">{{ rOUTAGE.demiflux?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/routage', rOUTAGE.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
