<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pesit-heading" jhiTranslate="appApp.pESIT.home.createOrEditLabel">Create or edit a PESIT</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.pESIT.codeSite" for="field_codeSite">Code Site</label>
                    <input type="text" class="form-control" name="codeSite" id="field_codeSite"
                           formControlName="codeSite"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.pESIT.codeApplication" for="field_codeApplication">Code Application</label>
                    <input type="text" class="form-control" name="codeApplication" id="field_codeApplication"
                           formControlName="codeApplication"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.pESIT.transcoding" for="field_transcoding">Transcoding</label>
                    <input type="text" class="form-control" name="transcoding" id="field_transcoding"
                           formControlName="transcoding"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.pESIT.compression" for="field_compression">Compression</label>
                    <input type="text" class="form-control" name="compression" id="field_compression"
                           formControlName="compression"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
