<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="flux">
            <h2><span jhiTranslate="appApp.flux.detail.title">Flux</span> {{ flux.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appApp.flux.codeMega">Code Mega</span></dt>
                <dd>
                    <span>{{ flux.codeMega }}</span>
                </dd>
                <dt><span jhiTranslate="appApp.flux.envir">Envir</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'appApp.Env.' + flux.envir }}">{{ flux.envir }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/flux', flux.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
